@font-face {
    font-family: "Poppins Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family:"Poppins Regular" ;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Pacifico";
    src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: "Playfair Display";
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}